#map {
  height: 100%;
  background-color: #364365;
}

.full-height {
  height: 100%;
}

.leaflet-bar a {
  background-color: #2a363b;
  color: white;
  border-bottom: 1px solid #3f494d;
}

.leaflet-bar a:hover {
  background-color: #2a363b;
  color: white;
}

.leaflet-control-attribution {
    /* the attribution element itself overrides inline so the !important is required */
    background-color: #2a363b !important;
    color: white;
}

.leaflet-control-attribution a {
    color: #f0f0f0;
}